* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.clearfix {
    content: '';
    clear: both;
    display: table;
}

body {
    background-color: black;
    color: white;
}

.wrapper{
    height: 100vh;
    width: 100%;
}

.wrapper-content {
    width: 100%;
    height: calc(100% - 90px);
    background-color: blue;
    display: flex;
}

aside {
    width: 230px;
    background-color: rgb(5, 5, 5);
}

main {
    width: calc(100% - 230px);
    background-color: orange;
    height: 100%;
}

nav.top {
    width: calc(100% - 230px);
    height: 90px;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 3);
    
}

.main-container {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    padding-top: 90px;
    overflow-x:hidden;
}

.sidebar img {
    width:70%;
}

ul {
    list-style-type: none;
}

.menu-top ul {
    text-align: center;
}

.sidebar{
padding-left: 10px;
color: gray;
padding-top: 20px;
}

.min-top {
    padding-top: 15px;
}

.min-top p, li {
height:5vh;
vertical-align: middle;
}

hr {
    color:white;
}

.bottone {
    position: relative;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border-radius: 25px;
    background-color: transparent;
    padding: 13px 15px;
    position: absolute;
    right: 0px;
    top: 20px
}

.foto img {
    width: 13vw;
    padding-right: 10px;
}

.menu-top ul li {
    display: inline-block;
    padding:5px 0;
}

.menu-top {
    width: 100%;
}

.foto {
    float: left;
    width: 13vw;
}

h5 {
    width: 30px;
}

.foto p {
    width: 30px;
}

.row {
    padding-left: 10px;
    padding-top:20px;
    width: calc(100vw - 230px);
}

.row h2 {
    padding-bottom: 20px;
    font-size: 30px;
}

footer {
    height: 90px;
}

.player-bar{
    width: 100vw;
}

.left-foot {
    width: calc(100% / 3);
    float: left;
}

.left-foot img {
    width: 10%;
    float: left;
}

.min-test{
    float: left;
}

.cent-foot-up{
    width: calc(100% / 3);
    float: left;
}

i {
    font-size: 25px;
    padding:10px 10px;
}

.bar-mus{
    width:50%;
    height: 4px;
    background-color: white;
    display: inline-block;
}

.bar-mus-trasc{
    width: 20%;
    height: 4px;
    background-color: blue;
}

.cent-foot-down p {
    display: inline-block;
}