* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.border{
    border-radius: 10px;
}

.left {
    float:left;
}

.right {
    float: right;
}

.inline{
    display: inline-block;
}

.clearfix {
    content: '';
    clear: both;
    display: table;
}

body {
    background-color: black;
    color: white;
}

.wrapper{
    height: 100vh;
    width: 100%;
}

.wrapper-content {
    width: 100%;
    height: calc(100% - 90px);
    background-color: blue;
    display: flex;
}

aside {
    width: 230px;
    background-color: rgb(5, 5, 5);
}

main {
    width: calc(100% - 230px);
    background-color: orange;
    height: 100%;
}

nav.top {
    width: calc(100% - 230px);
    height: 90px;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 3);
    
}

.main-container {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    padding-top: 90px;
    overflow-x:hidden;
}

.sidebar img {
    width:70%;
}

ul {
    list-style-type: none;
}

.menu-top ul {
    text-align: center;
}

.sidebar{
    padding-left: 10px;
    color: gray;
    padding-top: 20px;
    position: relative;
    height: 100%;
}

.min-top {
    padding-top: 15px;
}

h3 {
    color:white;
}

hr {
    color:white;
    margin:10px 0;
    width: 90%;
}

.men-foot {
    position: absolute;
    bottom:0;
    width: 100%;
}

.bottone {
    position: relative;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border-radius: 25px;
    background-color: transparent;
    padding: 13px 15px;
    position: absolute;
    right: 0px;
    top: 20px
}

.foto img {
    width: 13vw;
}

.menu-top ul li {
    display: inline-block;
    padding:5px 0;
}

.menu-top {
    width: 100%;
}

.foto {
    width: 13vw;
    margin-right: 10px;
}

.foto p {
    width: 30px;
}

.row {
    padding-left: 10px;
    padding-top:20px;
    width: calc(100vw - 230px);
    display: flex;
}

.row h2 {
    padding-bottom: 20px;
    font-size: 30px;
}

footer {
    height: 90px;
}

.player-bar{
    width: calc(100vw - 20px);
    display: flex;
}

.left-foot {
    width: calc(100% / 3);
    padding: 20px 15px;
    display: flex;
}

.left-foot img {
    width: 15%;
}

.min-test {
    padding-left: 10px;
    padding-top: 15px;
}

.cent-foot{
    width: calc(100% / 3);
}

i {
    font-size: 25px;
    padding:10px 10px;
}

.bar-mus{
    width:80%;
    height: 4px;
    background-color: white;
    display: inline-block;
}

.bar-mus-trasc{
    width: 20%;
    height: 4px;
    background-color: blue;
    position: relative;
}

.cent-foot-down p {
    display: inline-block;
    padding: 0 5px;
}

.cent-foot-down {
    text-align: center;
}

span {
    font-size: 30px;
    font-weight: bold;
    background-color: gray;
    color: black;
    width: 20px;
    padding: 3px 10px;
    vertical-align: middle;
}

.men-cent h4 {
    padding: 10px 0;
}

.men-cent li {
    padding-bottom: 10px;
}

.men-cent p {
    padding-bottom: 10px;
}

.right-foot {
    width: calc(100% / 3);
    position: relative;
    right: 0;
}

.simboli {
    text-align: center;
}

.simbolini {
    width: 100%;
    text-align: end;
    padding-right: 15px;
}

.min-bar-mus{
    width:30%;
    height: 4px;
    background-color: white;
    display: inline-block;
}

.min-bar-mus-trasc{
    width: 10%;
    height: 4px;
    background-color: blue;
    position: relative;
}

.foto-circle {
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 100px;
}

.punto{
    width: 12px;
    height: 12px;
    background: azure;
    border-radius: 5px;
    position: absolute;
    right: -5px;
    bottom: -4px;
    
}

.men-foot i {
    padding-left: 0;
}

i {
    vertical-align: middle;
}

.circle {
    margin-right: 10px;
}

.circle img {
    width: 13vw;
    border-radius: 100px;

}

.min-top img{
    width: 15%;
}
